<a href="https://colab.research.google.com/github/mariellemiron/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [59]:
m = 14
d,k = 9, 20

In [60]:
type(m)

int

In [61]:
c = 4.16
type(c)

float

In [62]:
m = float(m)
type(m)

float

In [63]:
s, v, t = "5", '26', 'seventeen'
type(s)

str

In [64]:
s_int = int(s)
s_int

5

##Operations

###Arithmetic

In [98]:
a,b,c,d = 4.6, -0.2, 17, -13

In [ ]:
### Addition
S = a+b
S

In [ ]:
### Subtraction
D = b-d
D

In [ ]:
### Multiplication
P = a*d
P

In [ ]:
### Floor Division
Fq = a/b
Fq

In [ ]:
### Exponentiation
E = a**b
E

In [ ]:
### Modulo 
mod = a%d
mod

###Assignment Operations

In [78]:
G, H, J, K = 0, 100, 2, 3

In [ ]:
G += a
G

In [ ]:
H -= d
H

In [ ]:
J *= 2
J

In [ ]:
K **= 3
K

###Comparators

In [96]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2

###Logical

In [ ]:
res_1 == true_val

In [ ]:
res_1 is true_val

In [ ]:
res_1 is not true_val

In [121]:
p, q = True, False 
conj = p and q
conj

False

In [116]:
p, q = True, False 
disj = p or q
disj

True

In [124]:
p, q = True, False 
nand = not(p and q)
nand

True

In [122]:
p, q = True, False 
xor = (not p and q) or (p and not q)
xor

True

###I/O

In [125]:
print("Hello World")

Hello World

In [126]:
cnt = 1

In [136]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt +=1

Hello World , Current run count is: 4

In [137]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 5

In [ ]:
sem_grade = 95.64598321431
name = "Mayel"
print("Hello", name, ",your semestral grade is:" ,sem_grade)